.main-footer {
    display: flex;
   margin: 0 auto;
    gap: 140px;
    padding: 105px 100px 140px 100px;
    max-width: 1440px;
}

.main-footer-about-text {
    font-size: 18px;
    line-height: 30px;
    color: #555555;
}

.main-footer-navigation-title {
    font-size: 24px;
    line-height: 31.25px;
    color: #222222;
    font-weight: 600;
    margin-bottom: 40px;
}

.main-footer-resources-name {
    font-size: 24px;
    line-height: 31.25px;
    color: #222222;
    font-weight: 600;
    margin-bottom: 40px;
}

.main-footer-contact-us-name {
    font-size: 24px;
    line-height: 31.25px;
    color: #222222;
    font-weight: 600;
    margin-bottom: 40px;
}

.main-footer-navigation-item {
    font-size: 18px;
    line-height: 24px;
    color: #555555;
    font-weight: 400;
    margin-bottom: 25px;
}

.main-footer-resources-item {
    font-size: 18px;
    line-height: 24px;
    color: #555555;
    font-weight: 400;
    margin-bottom: 25px;
}

.main-footer-email {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #222222;
    text-wrap: nowrap;
    margin-bottom: 25px;
}

.main-footer-icons {
    display: flex;
}

.main-footer-icons img {
    margin-right: 50px;
}

.main-footer-icons img:last-child {
    margin-right: 0 ;
}

.main-footer-navigation-item:last-child  {
margin-bottom: 0;
}

.main-footer-resources-item:last-child {
    margin-bottom: 0;
}

.main-footer-about img {
    margin-bottom: 30px;
}